<?xml version="1.0"?>
<config>
  <modules>
    <Creode_CustomShippingMethod>
      <version>0.1.0</version>
    </Creode_CustomShippingMethod>
  </modules>
  <global>
    <helpers>
      <customshippingmethod>
        <class>Creode_CustomShippingMethod_Helper</class>
      </customshippingmethod>
    </helpers>
	<models>
	  <customshippingmethod>
		<class>Creode_CustomShippingMethod_Model</class>
		<resourceModel>customshippingmethod_mysql4</resourceModel>
	  </customshippingmethod>

		<shipping>
			<rewrite>
				<shipping>Creode_CustomShippingMethod_Model_Shipping_Shipping</shipping>
			</rewrite>
		</shipping>


	</models>
	<resources>
	  <categoryattribute1490692381_setup>
		<setup>
		  <module>Creode_CustomShippingMethod</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1490692381_setup>
	  <categoryattribute1490692381_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1490692381_write>
	  <categoryattribute1490692381_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1490692381_read>
	</resources>
  </global>    
	<default>
        <carriers>
            <customshippingmethod>
                <active>1</active>
                <model>customshippingmethod/carrier_customshippingmethod</model>
                <name>customShippingMethod</name>
                <title>Custom Shipping Method</title>
                <description>Custom Shipping method</description>
                <sort_order>0</sort_order>
            </customshippingmethod>
        </carriers>
    </default>
</config> 